.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
  text-align: center;
  margin-left:-12px;
}
.status_error{
  color:red;
}
.status_good{
  color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

/*siberia theme*/
.webix_layout_toolbar.webix_toolbar.form-bottom-bar{
  background: #34495E;
}

.center{
  text-align: center;
}

.app-left-panel .webix_menu .webix_list_item.spacer:hover{
  background: transparent;
  cursor:default;
}
.webixapp{
  background: #34495e;
}
.webix_layout_clean{
  background: white;
}

/* unradius borders */
.webix_menu {
  border-radius: 0px;
}

/*left side menu*/
.app-left-panel,
.app-left-panel .webix_view,
.app-left-panel .webix_menu .webix_list_item{
  background: #34495e;
  color:#ddd;
}
.app-left-panel .webix_menu .webix_list_item.webix_selected{
  color:#fff;
}
.app-left-panel .webix_menu .webix_list_item:hover{
  background-color: #f5f5f5;
  color: #000;
}
.app-left-panel .webix_header .webix_template{
  background-color: #34495e;
  border-bottom:1px solid white;
  text-align: center;
  padding-left:0px;
}

/*right side panel*/
.app-right-panel{
  border-top-left-radius:4px;
}
.app-right-panel .webix_layout_wide{
  background: #fff;
}


/* sync status */
.status_good{
  color:#ddd;
}
